@import 'mixins';
    
#welcome_window {
    
    #selection_box {
        margin-bottom:3em;
        padding-top:2em;
        
        .lang_list {
            list-style:none; 
            text-align: center;
            padding:0px;
            margin:0px;
            
            li {
                @include transition(opacity, 0.2s);
                @include opacity(0.5);
                
                display:inline-block;
                margin:0px 10px 0px 0px;
                position:relative;
                cursor:pointer;
                
                &.selected {
                    @include opacity(1.0);
                }
                
                &:hover {
                    @include opacity(1.0);
                }
                
                img {
                    width:5em;
                }
            }
        }
    }
    
    #start_button {
        margin:10px auto;
        display:block;
        font-family:'VegurRegular', sans-serif;
    }
    
    #error_text {
        text-align:center;
        color:tomato;
        width:100%;
        display:block;
        margin-bottom:2em;
    }
}