// Fonts
// --------
$font-name: 'Lato';
$font-family: $font-name, Helvetica, Arial, sans-serif;
$font-path: '../fonts/';

$lc-font-name: to-lower-case($font-name);

$font-weights: (
    light: 300,
    normal: 400,
    bold: 700
);

@include font-face(
    $font-name,
    '#{$font-path}/#{$lc-font-name}/lato-light-webfont',
    300
);

@include font-face(
    $font-name,
    '#{$font-path}/#{$lc-font-name}/lato-regular-webfont',
    400
);

@include font-face(
    $font-name,
    '#{$font-path}/#{$lc-font-name}/lato-bold-webfont',
    700
);

// Responsive Layout
// --------------------
$breakpoint-mobile: 767px;
