<div id="chat_window">
    <div id="chat_panel">
        <div id="chat_messages">
            <ul>
                <li class="status_text">You are now talking to a member from <span id="user_location">Beijing, China</span></li>
            </ul>
        </div>
        <form id="send_form">
            <div class="inner uk-grid">
                <div lass="uk-width-1-10">
                    <i id="send_button"></i>
                </div>
                <div class="uk-width-9-10" style="padding-left:20px;">
                    <input type="text" id="send_box"></input>
                </div>
            </div> <!-- Subgrid in send form -->
        </form> <!-- Send form -->
    </div> <!-- Chat panel -->
</div> <!-- Chat window-->