<div id="welcome_window">
    <h1>Welcome to Linguist</h1>
    
    <h2>What language are you currently studying?</h2>
    
    <ul class="lang_list" id="studying">
        <li><img src="/assets/img/lang/en-us.png"/></li>
        <li><img src="/assets/img/lang/zh-s.png"/></li>
    </ul>
    
    <h2>Which language do you speak natively?</h2>
    
    <ul class="lang_list" id="studying">
        <li><img src="/assets/img/lang/en-us.png"/></li>
        <li><img src="/assets/img/lang/zh-s.png"/></li>
    </ul>
</div> <!-- Welcome window-->