<div id="welcome_window">
    <div id="selection_box">
        <h2>Which language do you speak natively?</h2>

        <ul class="lang_list" id="native">
            <li data-lang="en"><img src="/assets/img/lang/en-us.png"/></li>
            <li data-lang="zh"><img src="/assets/img/lang/zh-s.png"/></li>
            <li data-lang="es"><img src="/assets/img/lang/es.png"/></li>
            <li data-lang="fr"><img src="/assets/img/lang/fr.png"/></li>
        </ul>
        
        <h2>What language are you currently studying?</h2>
    
        <ul class="lang_list" id="studying">
            <li data-lang="en"><img src="/assets/img/lang/en-us.png"/></li>
            <li data-lang="zh"><img src="/assets/img/lang/zh-s.png"/></li>
            <li data-lang="es"><img src="/assets/img/lang/es.png"/></li>
            <li data-lang="fr"><img src="/assets/img/lang/fr.png"/></li>
        </ul>
    </div> <!-- Selection box -->
    <button class="uk-button uk-button-large" style="width:8em;" id="start_button">Enter</button>
    <span id="error_text"></span>
</div> <!-- Welcome window-->