doctype html

html(lang=lang, dir=lang_dir)

    head
        title #{ gettext('Site Title') }

        link(rel="stylesheet", href="css/main.min.css")
        link(rel="icon" type="image/png", href="favicon.png")

        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

    body

        div#overlay
        div#map-canvas

        div#container
            div#layout
                div#window
                    header
                        div.inner
                            img#logo
                            div#user_count
                    div#content

        script.
            function gettext() {}

        script(src="require.js")
        script(src="js/main.min.js")

//    <meta name='keywords' content='language,chatroulette,omegle,chinese,french,spanish,english,learn,practice,speak,write,chat,chatroom,中文,法文,英文,西班牙文,学习'>
//    <meta name='description' content='Chatroulette for language learners. Be instantly connected with a native speaker, 100% free.'>
//    <meta name='subject' content='lifestyle'>
//    <meta name='twitter:image' content='http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg'>
//    <meta property='og:image' content=''/>
